# eclipse
eclipse
bin
*.launch
.settings
.metadata

# idea
out
classes
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# Netbeans
.nb-gradle
.nb-gradle-properties

# other
logs/
run
.DS_Store
Thumbs.db
